body {
	background-color: grey; 
}

.cool {
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 3s; 
	display: none;
}

.cool.red {
	background-color: red;
	display: block;

}

